$webYellow: #fcdb5a;

.burger {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    align-items: center;
    z-index: 4;
    

    span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    &:after, &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    &:after{
        bottom: 4px;
    }

    &:before {
        top:4px;
    }

    &._active {

        position: fixed;

        span {
            transform: scale(0);
            background-color: #1b1b1b;
        }

        &:after, &:before {
            background-color: #1b1b1b;
        }

        &:after{
            transform: translate(0, -10px) rotate(45deg);
        }
    
        &:before {
            transform: translate(0, 10px) rotate(-45deg);
        }
    }

    @media (max-width: 768px) {
        display: flex;       
    }
}

.header {

    // .header__top

    &__top {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        @media (max-width: 768px) {
            &:after {
            content: '';
            display: block;
            width: 100%;
            height: 70px;
            position: absolute;
            top: 0;
            z-index: 3;
            background-color: transparent;
            transition: 0.3s;
            }   
        }
        &._active {
            //position: fixed;
            &:after {
                background-color: $webYellow;
                position: fixed;
            }     
        }
    }

    // .header__bottom

    &__bottom {

    }
}
.header-top {

	// .header-top__content

	&__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 105px;
        position: relative;
        @media (max-width: 992px) {
            height: 70px;
        }
        @media (max-width: 768px) {

        }
	}

	// .header-top__burger

	&__burger {

	}

    // .header-top__logo

    &__logo {
        position: absolute;
        top: 0;
        @media (max-width: 768px) {
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 4;
        }
        &._active {
            position: fixed;
        }
    }

    // .header-top__nav

    &__nav {
        margin-left: 170px;
        @media (max-width: 992px) {
            margin-left: 130px;
        }
        @media (max-width: 768px) {
            margin: 70px 0 0 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(10px);
            position: fixed;
            top: -120%;
            left: 0;
            z-index: 3;
            overflow: auto;
            transition: 0.3s;

            &._active {
                top: 0;
            }
        }
    }

    // .header-top__btn

    &__btn {

        &._active {
           position: relative;
            z-index: 4;

            & .btn {
                color: #fff;
                background-color: #424242;
            } 
        }
             
    }
}
.header-logo {

    // .header-logo__link

    &__link {
        display: flex;
        justify-content: center;
        padding: 23px 21px;
        background-color: $webYellow;
        @media (max-width: 992px) {
            padding: 15px 11px;

            img {
                width: 75%;
                height: 75%;
            }
        }
        @media (max-width: 768px) {
            padding: 7px 0;
            
            &._active {
                 background-color: transparent;
                 
                 
            }

            img {
                
                width: 70%;
                height: 70%;
                
            }
        }
    }
}

.header-nav {

    // .header-nav__list

    &__list {
        display: flex;
        @media (max-width: 768px) {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
    }

    // .header-nav__item

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-left: 0;
        }

        a {
            color: #fff;
            transition: .3s;
            &:hover {
                color: $webYellow;
            }
        }
        ._active {
            color: $webYellow;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: $webYellow;
                position: relative;
                top: 41px;
                @media (max-width: 992px) {
                    top: 23px;
                }
            }
        }
        @media (max-width: 768px) {
            margin: 0 0 35px 0;

            a {
                font-size: 40px;
                text-transform: uppercase;
                color: #1b1b1b;
            }

            ._active {
                color: #1b1b1b;
                &:after {
                    content: '';
                    display: none;             
                }
            }
        }
    }
}

.header-bootom {

    // .header-bootom__title

    &__title {
        margin: 190px 0 180px 0;
        max-width: 450px; 
        font-family: Storytella;
        font-weight: 400;
        font-size: 200px;
        line-height: 220px;  
        cursor: default;
        
        @media (max-width: 992px) {
            margin: 130px 0 130px 0;
        }
        @media (max-width: 768px) {
            font-size: 150px;
            line-height: 150px;
            margin: 100px 0 100px 0;
        }
        @media (max-width: 576px) {
            margin: 50px 0 50px 0;
            font-size: 100px;
            line-height: 100px;
            max-width: 300px;
        }
        

        a {
            color:#fff;
            transition: 0.3s;
            &:hover {
                color:$webYellow;
            }
        }
    }
}
